name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Build + Test + Coverage
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.7
          arguments: clean build jacocoTestReport

      - name: Upload reports + jar
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            build/reports/
            build/libs/
